*{
    margin: 0; padding: 0;
    font-family: 'Quicksand',sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: #eee;
}
.slideshow{
    height: 40vh;
    width: 100vw;
    background: url("images/product1.jpg");
    background-size: cover;
    animation: slide 24s infinite;
}
@keyframes slide {
    25%{background: url("images/product2.jpg");
        background-size: cover}
    50%{background: url("images/product3.webp");
        background-size: cover}
    75%{background: url("images/product4.jpg");
        background-size: cover}
}
.content{
    position: absolute;
    top: -2%;
    color: #000000;
    align-content: center;
    right: 20%;
}
.content h1{
    font-family: fantasy;
    font-size: 3.5em;
    letter-spacing: 1px;
    margin: 5%;
}
.content h3{
    font-family: monospace;
    font-size: 2em;
    margin-top: -4%;
    margin-left: 5%;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Active/current link */
.navbar a.active {
    background-color: #666;
    color: white;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}
.wrapper .title{
    font-size: 3.5rem;
    color: #444;
    margin-top: -3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bolder;
}
.wrapper .product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.wrapper .product-container .product{
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}
.wrapper .product-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
}
.wrapper .product-container .product img{
    height: 10rem;
}
.wrapper .product-container .product:hover img{
    transform: scale(.9);
}
.wrapper .product-container .product h3{
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
}
.wrapper .product-container .product:hover h3{
    color: #27ae60;
}
.wrapper .product-container .product .price{
    font-size: 2rem;
    color: #444;
}
.wrapper .product-container .product .button{
    flex-wrap: wrap;
    margin-top: 1rem;
}
.wrapper .product-container .product .button a{
    padding: 1rem;
    font-size: 2rem;
    color: #444;
    border: .1rem solid #444;
}
.wrapper .product-container .product .button a.cart{
    background: #444;
    color: #fff;
}
.wrapper .product-container .product .button a.buy{
    background: #444;
    color: #fff;
}
.wrapper .product-container .product .button a.buy:hover{
    background: #bbbbbb;
}
/* Footer */
.footer {
    padding: 10px;
    text-align: center;
    background: #444;
    color: #ffffff;
}